services:
  server:
    build:
      context: .
    ports:
      - 7860:7860
    env_file:
      - .env
    volumes:
      - ~/.cache/huggingface:/app/hf_cache
    deploy:
      resources:
        limits:
          memory: 10G